body * {
    font-family: 'Noto Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

header div {
    display: flex;
    align-items: center;
}

header img {
position: relative;
width: 100px;
margin-right: 10px;
}

header ul {
    display: flex;
}

header li {
    padding: 0px 10px;
}

header a {
    color: black;
    text-decoration: none;
}
