main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutmebox {
    display: flex;
    width: 50%;
    align-items: center;
}

.aboutmeboxpic {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.aboutmeboxpic img {
    width: 200px;
    border-radius: 15px;
}

.textinsection h1 {
    font-weight: bold;
}

.contactitems {
    display: flex;
}

.contactitems a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0px 10px;
    border-radius: 15px;
}

.contactitems img {
    margin-right: 10px;
}

.myskills {
    display: flex;
    flex-wrap: wrap;
    
}

.container {
    width: 200px;
    margin: 10px;
    box-shadow:2px 2px rgba(126, 126, 126, 0.479);
}

.JS {
    height: 200px;
    background-image: url("/assets/JS.png");
    background-size: cover;
}

.HTML {
    height: 200px;
    background-image: url("/assets/HTML5.png");
    background-size: cover;
}

.CSS {
    height: 200px;
    background-image: url("/assets/CSS3.png");
    background-size: cover;
}

.NODEJS {
    height: 200px;
    background-image: url("/assets/Node.js.png");
    background-size: cover;
}

.EXCEL {
    height: 200px;
    background-image: url("/assets/excel.png");
    background-size: cover;
}

.bar {
    width: 100%;
    background-color: rgb(190, 190, 190);
}

.one div {
    width: 95%;
    background-color: rgb(77, 77, 224);
    color: white;
}

.two div {
    width: 97%;
    background-color: rgb(77, 77, 224);
    color: white;
}

.three div {
    width: 93%;
    background-color: rgb(77, 77, 224);
    color: white;
}

.four div {
    width: 88%;
    background-color: rgb(77, 77, 224);
    color: white;
}

.five div {
    width: 95%;
    background-color: rgb(77, 77, 224);
    color: white;
}

.ctainer {
    margin-top: 5%;
    margin-bottom: 5%;
}