body * {
    font-family: 'Noto Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    justify-content: space-around;
}

header ul li {
    padding: 0px 10px;
}

header div {
    display: flex;
}
header img {
    width: 100px;
    margin-right: 10px;
}

main {
    margin-top: 10px;
}

main > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutmeboxpic {
    display: flex;
    flex-direction: column;
}

.aboutmeboxpic span {
    font-weight: bold;
    padding: 10px 0px;
}

.skillbars {
    width: 30%;
    display: flex;
    flex-direction: column;
}

main > div img {
    width: 200px;
    border-radius: 15px;
    margin-right: 15px;
}

.contactitems ul li a {
    text-decoration: none;
}

.contactitems {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.contactitems a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin: 5px 10px;
}

.textinsection {
    display: flex;
    width: 25%;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 15px;
  margin: 3px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10x; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  border-radius: 15px;
  display: flex;
  justify-content: end;
  margin: 2px;
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

.contactitems img {
    padding-right: 10px;
}

footer {
    position: relative;
}